
img{
    width: 400px;
    height: 380px;
    margin: 1.66%;
    float :left;
}
h2{
    font-family: 'Dancing Script', cursive;
    margin-left: 1.66%;
    font-size: 23px;
    padding-bottom: 10px;
    border-bottom: 3px solid red;
    /* width: 30%; */
}
body{
    background-image: url("back.jpg")
}
